@import 'styles/Variables';

.home {
  section {
    margin-bottom: 8rem;
  }
}

.box {
    width: 400px;
    height: 400px;
    max-width: 400px;
    margin: 1 rem;
    padding: 2 rem;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #f68622;
}

.heading {
  font-size: 4.8rem;
  text-align: center;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.description {
  max-width: 100%;
  font-size: 1.8rem;
  margin: 0 auto 2rem;
  padding: 0 1.5rem;

  @media (min-width: $breakpoint-small) {
    max-width: 60%;
  }
}

.actions {
  a[role='button'] {
    margin: 0.5rem;
  }
}

.posts .heading {
  margin-bottom: 4rem;
}

.testimonials {
  text-align: center;

  .description {
    margin-bottom: 6rem;
  }
}
