@import 'styles/Variables';

.home {
  section {
    margin-bottom: 8rem;
  }
}
.Button{
  background-color:#93c841;
  color:#93c841;
  font-size: 12px;
}

.body {
    background-image: './public/sign-in-screen.jpeg';
    font-size: 10px;
    background-size: cover;
}


.box {
    width: 400px;
    height: 400px;
    max-width: 400px;
    margin-left: 575px;
    margin-top: 120px;
    margin-bottom: 400px;
    align-items: center;
    justify-content: center;
    border: 1px solid #93c841;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #eeeeee;
}

.form_input{
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
};

.heading {
  font-size: 4.8rem;
  text-align: center;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.description {
  max-width: 100%;
  font-size: 1.8rem;
  margin: 0 auto 2rem;
  padding: 0 1.5rem;

  @media (min-width: $breakpoint-small) {
    max-width: 60%;
  }
}

.actions {
  a[role='button'] {
    margin: 0.5rem;
  }
}

.posts .heading {
  margin-bottom: 4rem;
}

.testimonials {
  text-align: center;

  .description {
    margin-bottom: 6rem;
  }
}
